<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/home.css">
    <script src="/public/script.js" defer></script>
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <div class="columns">
        <div id="feed">
            <div id="feed-header">
                <h1>Feed</h1>
            </div>
            <div class="nav-buttons">
                <button id="viewPostsButton" class="btn btn-secondary" onclick="toggleView('posts')">View Posts</button>
                <button id="viewResourcesButton" class="btn btn-secondary" onclick="toggleView('resources')">View Resources</button>
                <% if (role === 'teacher') { %>
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resourceModal">
                            Add Resource
                        </button>
                    </div>
                <% } %>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postModal">
                        Post
                    </button>
                </div>
            </div>
            <div id="feed-content">
                <% if (!posts || posts.length === 0) { %>
                    <h2>No posts found, be the first to make one!</h2>
                <% } else { %>
                    <% posts.forEach(post => { %>
                        <div class="post">
                            <div class="card">
                                <div class="card-header"
                                    style="<%= 'background-color: #' + Math.floor(Math.random() * 16777215).toString(16) %>;">
                                    <h2>
                                        <%= post.title %>
                                    </h2>
                                    <h4>By:  <%= post.email %> Course:<%= post.courseId %> </h4>

                                    <div class="delete-button">
                                        <% if (userId === post.userId || role === 'teacher' || role === 'moderator') { %>
                                            <form action="/deletePost" method="POST" class="ms-4">
                                                <input type="hidden" id="catId" value="<%= catId %>" name="catId">
                                                <input type="hidden" name="postId" value="<%= post.postId %>">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>
                                        <%= post.description %>
                                    </p>

                                    <div class="d-flex justify-content-end align-items-center me-4">
                                        <div class="d-flex align-items-center me-4">
                                            <button type="button" class="btn btn-link p-0 border-0 me-2" data-bs-toggle="modal" data-bs-target="#replyModal" onclick="setReplyModalValues('<%= post.postId %>')">Reply</button>
                                            <button type="button" class="btn btn-link p-0 border-0 me-2">
                                                <img src="/images/comment.png" alt="Comment" width="30" height="30">
                                            </button>
                                            <div class="text-muted small">0 comments</div>
                                        </div>
                                        <div class="d-flex align-items-center me-4">
                                            <form action="/createConv" method="POST" class="ms-4">
                                                <input type="hidden" id="userId2" value="<%= post.userId %>" name="userId2">
                                                <button type="submit" class="btn btn-primary">Message</button>
                                            </form>
                                    
                                            <button type="submit" id="likeButton"
                                                class="btn btn-link p-0 border-0 me-2" onclick="toggleLike(event)">
                                                <input type="hidden" name="postId" value="<%= post.postId %>">
                                                <input type="hidden" name="liked" value="<%= post.liked %>">
                                                <input type="hidden" name="likeCount" value="<%= post.likeCount %>">
                                                <% if (post.liked) { %>
                                                    <img src="/images/likeClicked.png" alt="Like" width="30"
                                                        height="30">
                                                <% } else { %>
                                                    <img src="/images/likeUnclicked.png" alt="Like" width="30"
                                                        height="30">
                                                <% } %>
                                            </button>
                                            <div class="text-muted small">
                                                <%= post.likeCount %> likes
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button type="button" id="flagButton"
                                                class="btn btn-link p-0 border-0 me-2" onclick="toggleFlag(event)">
                                                <img src="/images/emptyFlag.png" alt="Flag" width="40" height="40">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="replies">
                                        <% if (!post.replies || post.replies.length === 0) { %>
                                            <p>No replies found, be the first to make one!</p>
                                        <% } else { %>
                                            <% post.replies.forEach(reply => { %>
                                                <div class="reply card mb-2">
                                                    <div class="card-body">
                                                        <p> <%= reply.email %></p>
                                                        <p> <%= reply.description %></p>
                                                        <div class="delete-button">
                                                            <% if (userId === reply.userId || role === 'teacher' || role === 'moderator') { %>
                                                                <form action="/deleteReply" method="POST" class="ms-4">
                                                                    <input type="hidden" id="catId" value="<%= catId %>" name="catId">
                                                                    <input type="hidden" name="replyId" value="<%= reply.replyId %>">
                                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                                </form>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    <% }) %>
                <% } %>
            </div>
            <div id="resources-content" style="display: none;">
                <h2>Resources</h2>
                <% if (!resources || resources.length === 0) { %>
                    <h2>No resources found, be the first to make one!</h2>
                <% } else { %>
                    <% resources.forEach(resource => { %>
                        <div class="resource">
                            <div class="card">
                                <div class="card-header">
                                    <h2><%= resource.title %></h2>
                                </div>
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div class="flex-grow-1 text-center">
                                        <a href="<%= resource.url %>" class="btn btn-link"><%= resource.url %></a>
                                    </div>
                                    <form action="/download/<%= resource.fileName %>" method="get" class="d-inline">
                                        <input type="hidden" name="fileName" value="<%= resource.fileName %>">
                                        <button type="submit" class="btn btn-primary">Download</button>
                                    </form>
                                    <% if (role === 'teacher') { %>
                                        <form action="/deleteResource" method="POST" class="d-inline">
                                            <input type="hidden" name="resourceId" value="<%= resource.resourceId %>">
                                            <input type="hidden" name="catId" value="<%= catId %>">
                                            <input type="hidden" name="fileName" value="<%= resource.fileName %>">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <br>
                    <% }) %>
                <% } %>
            </div>
        </div>

        <div id="private-messages">
            <h1>Private Messages</h1>
            <% if (convUsers) { %>
            <ul class="users">
                <% convUsers.forEach(user => { %>
                    <li class="user-info">
                        <a href="/account/<%= user.otherUser.userId %>">
                            <img src="/images/<%= user.otherUser.profilePic %>" class="rounded-circle" alt="profile" height="40">
                            <span><%= user.otherUser.fname + " " + user.otherUser.lname %></span>
                        </a>
                        <span> <%= user.unreadCount %> unread messages</span>
                        <form action="/getMessagePage" method="GET">
                            <input type="hidden" name="convId" value="<%= user.convId %>">
                            <button type="submit" class="btn btn-primary">Message</button>
                        </form>
                    </li>
                    <br>
                <% }) %> 
            </ul>
            <% } %>
        </div>
    </div>

    <div class="modal fade" id="resourceModal" tabindex="-1" aria-labelledby="resourceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">Add a resource</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="hidden" id="catId" value="<%= catId %>" name="catId">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Link</label>
                            <textarea class="form-control" id="url" name="url" rows="1"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="fileUpload" class="form-label">File upload?</label>
                            <input type="file" class="form-control" id="fileUpload" name="file">
                        </div>
                    </div>
                    <div class="modal-footer border-top">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalLabel">Create a Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/post" method="POST">
                    <input type="hidden" id="catId" value="<%= catId %>" name="catId">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="courseId" class="form-label">Course ID</label>
                            <input type="number" class="form-control" id="courseId" name="courseId" min="100" max="999" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/reply" method="POST">
                    <input type="hidden" id="catId" value="<%= catId %>" name="catId">
                    <input type="hidden" id="postId" name="postId">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4"
                                required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script>
        function setReplyModalValues(postId) {
    document.getElementById('postId').value = postId;
}
    </script>
</body>

</html>