<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/home.css">
    <script src="/public/script.js" defer></script>
</head>



<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <div class="columns">
        <!-- <div id="categories">
            <h1>Categories</h1>
            <ul class="list-group">
                <li class="list-group-item"> <a href="#">Category 1</a> </li>
                <li class="list-group-item"> <a href="#">Category 2</a> </li>
                
            </ul>
        </div>     -->
    

        <div id="feed">
            <div id="feed-header">
                <h1>Feed</h1>
            </div>
            <div id="feed-content">
                <% if (!posts || posts.length === 0) { %>
                        <h2>No posts found, be the first to make one!</h2>
                <% } %>
                <% posts.forEach(post => { %>
                <div class="post">
                    <div class="card">
                        <div class="card-header" style="background-color: <%= '#' + Math.floor(Math.random()*16777215).toString(16) %>;">
                            <h2><%= post.title %></h2>
                        </div>
                        <div class="card-body" >
                            <p><%= post.description %></p>

                            <div class="d-flex justify-content-end align-items-center me-4">
                                <div class="d-flex align-items-center me-4">
                                    <button type="button" class="btn btn-link p-0 border-0 me-2">
                                        <img src="/images/comment.png" alt="Comment" width="30" height="30">
                                    </button>
                                    <div class="text-muted small">0 comments</div>
                                </div>
                                    <div class="d-flex align-items-center me-4">
                                        
                                        <button type="submit" id="likeButton" class="btn btn-link p-0 border-0 me-2" onclick="toggleLike(event)">
                                            <input type="hidden" name="postId" value="<%= post.postId %>">
                                            <input type="hidden" name="liked" value="<%= post.liked %>">
                                            <input type="hidden" name="likeCount" value="<%= post.likeCount %>">
                                            <% if (post.liked) { %>
                                                <img src="/images/likeClicked.png" alt="Like" width="30" height="30">
                                            <% } else { %>
                                                <img src="/images/likeUnclicked.png" alt="Like" width="30" height="30">
                                            <% } %>
                                        </button>
                                        <div class="text-muted small"><%= post.likeCount %> likes</div>
                                    </div>
                                <div class="d-flex align-items-center">
                                    <button type="button" id="flagButton" class="btn btn-link p-0 border-0 me-2" onclick="toggleFlag(event)">
                                        <img src="/images/emptyFlag.png" alt="Flag" width="40" height="40">
                                    </button>
                                </div>
                            </div>
                            
                            <!-- add any other buttons we may need here-->
                        </div>
                    </div>                  
                </div> <br>
                <% }) %>
                
            </div>
        </div>

        <div id="private-messages">
            <h1>Private Messages</h1>

            <ul class="users">
                <li class="user-info"> 
                    <a href="#">
                        <img src="/images/blank-pf.png" class="rounded-circle" alt="profile" size="50" height="50" width="50">
                        <span>Username</span>
                    </a>
                    <span> # of new notifications</span>
                    <button type="button" class="btn btn-primary">Message</button>
                </li>
                <br>
                <li class="user-info"> 
                    <a href="#">
                        <img src="/images/blank-pf.png" class="rounded-circle" alt="profile" size="50" height="50" width="50">
                        <span>Username</span>
                    </a>
                    <span> # of new notifications</span>
                    <button type="button" class="btn btn-primary">Message</button>
                </li>

            </ul>


        </div>
    </div>

</body>

</html>
