<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/spartanIcon.png">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="/public/message.css">
        <link rel="stylesheet" href="/public/home.css">
        <script src="/public/script.js" defer></script>
        <title>Messages</title>
    </head>

    <body>
        <header>
            <%- include('partials/navbar') %>
        </header>
   
    <div class="columns">
        <div id="feed">
            <h1 class="subHeader">Users</h1>

            <div class="search">
                        <nav class="navbar search">
                            <div class="container-fluid">
                                <form class="d-flex" role="search" action="/searchUser"
                                    method="POST">
                                    <input class="form-control me-2" name="email"
                                        type="text" placeholder="Search by email"
                                        aria-label="Search">
                                    <button class="btnLook btn btn-secondary"
                                        type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                </div>
            <% if (users.length === 0) { %>
                <h2>No users found</h2>
            <% } %>
            <div class="userBox">
            <% users.forEach(user => { %>
            <div class="user-card">
                <div class="user-card-info">
                    <div class="user-name">
                        <a href="/account/<%= user.userId %>">
                            <img src="/images/<%= user.profilePic %>"
                                class="rounded-circle" alt="profile"
                                height="40">
                            <span>
                                <%= user.fname + " " +
                                user.lname %>
                            </span>
                        </a>
                        <div class="role-box 
                            <% if (user.role === 'teacher') { %>
                                teacher-role
                            <% } else if (user.role === 'moderator') { %>
                                mod-role
                            <% } else if (user.role === 'tutor') { %>
                                tutor-role
                            <% } else { %>
                                student-role
                            <% } %>
                        ">
                            <p>
                                <%= user.role %>
                            </p>
                        </div>
                    </div>
                    <div class="user-email">
                        <p><%= user.email %></p>
                        <form action="/createConv" method="POST" class="ms-4">
                            <input type="hidden" id="userId2" value="<%= user.userId %>" name="userId2">
                            <button type="submit" class="btn btn-primary">Message</button>
                        </form>
                    </div>
                </div>
            </div>
            <% }); %>
            </div>
        </div>
            <div id="private-messages">
                <h1 class="subHeader">Private Messages</h1>
                <% if (convUsers) { %>
                  <ul class="users">
                    <% convUsers.forEach(user=> { %>
          
                      <div class="grows" style=" position: relative; margin-bottom: 80px; display: flex; flex-direction: column;">
                        <div
                          style="width: 351px; height: 75px; left: 7px; top: 7px; position: absolute; background: #16316b; box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.25); border-radius: 138px; border: 3px #fac104 solid">
                        </div>
                        <div class="grows"
                          style="width: 40px; height: 40px; left: 29px; top: 24px; position: absolute; background: #D9D9D9; border-radius: 9999px">
                          <a href="/account/<%= user.otherUser.userId %>">
                            <img src="/images/<%= user.otherUser.profilePic %>" class="rounded-circle" alt="profile"
                              class="rounded-circle" alt="profile" style="width: 100%; height: 100%; object-fit: cover;">
                          </a>
                        </div>
                        <div style="width: 220px; height: 30px; left: 77px; top: 30px; position: absolute;">
                          <a href="/account/<%= user.otherUser.userId %>">
          
                            <span class="pm-name">
                              <%= user.otherUser.fname + " " + user.otherUser.lname %>
                            </span>
                          </a>
                        </div>
                      
                        <form action="/getMessagePage" method="GET">
                          <input type="hidden" name="convId" value="<%= user.convId %>" />
                          <button type="submit"
                            style="left: 261px; top: 14px; position: absolute; border: none; background: none; padding: 0;">
                            <img class="grows" src="/images/whiteMail.png" alt="Message Icon" style="width: 60px; height: 60px;">
                          </button>
                        </form>
          
                        <div
                          style="width: 17px; height: 17px; left: 262px; top: 12px; position: absolute; z-index: 1; font-size: 20px; font-family: Inter; font-weight: bold; word-wrap: break-word">
                          <% if (user.unreadCount > 0) { %>
                            <p style="color: rgb(255, 196, 0);"><%= user.unreadCount %></p>
                            <% } else { %>
                              <p style="color: rgb(255, 255, 255);"><%= user.unreadCount %></p>
                              <% } %>
                        </div>
                      </div>
                      
                      <br />
                      <% }) %>
                  </ul>
                  <% } %>
              </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    </body>

</html>