<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/modUsers.css">
    <link rel="stylesheet" href="/public/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <div class="modPageContent">
        <h1>Flagged Posts</h1>
        <div class="flaggedUserList">
            <% if (!flaggedPosts || flaggedPosts.length===0) { %>
                <p>There are no flagged posts.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>PostId</th>
                        <th>UserId</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                
                    <% flaggedPosts.forEach(flaggedPost => { %>
                        <tr>
                            <td><%=flaggedPost.postId %></td>
                            <td><%=flaggedPost.userId %></td>
                            <td><%=flaggedPost.title %></td>
                            <td><%=flaggedPost.description %></td>
                            <td class="flaggedUser">
                                <form action="/unflagPost?postId=<%= flaggedPost.postId %>" method="POST">
                                    <button class="flagUser">
                                        Unflag Post</button>
                                </form>
                                <form action="/modFlag?userId=<%= flaggedPost.userId %>" method="POST">
                                    <button class="flagUser">
                                        Flag User</button>
                                </form>
                                <form action="/deletePost?postId=<%= flaggedPost.postId %>" method="POST">
                                    <button class="flagUser">
                                        Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <%} %> 
        </div>
        <h1>All Posts</h1>
        <div class="allUserList">
            <% if (!allPosts || allPosts.length===0) { %>
                <p>There are no posts.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>PostId</th>
                        <th>UserId</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>

                    <% allPosts.forEach(post => { %>
                        <tr>
                            <td><%=post.postId %></td>
                            <td><%=post.userId %></td>
                            <td><%=post.title %></td>
                            <td><%=post.description %></td>
                            <td class="flaggedUser">
                                <form action="/modFlag?userId=<%= post.userId %>" method="POST">
                                    <button class="flagUser">
                                        Flag User</button>
                                </form>
                                <form action="/deletePost?postId=<%= post.postId %>" method="POST">
                                    <button class="flagUser">
                                        Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <%} %> 
        </div>
    </div>

</body>


</html>