<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/modUsers.css">
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <div class="pageContent">
        <h1>Tutors</h1>
        <div class="flaggedUserList">
            <% if (!tutors || tutors.length===0) { %>
                <p>There are no tutors.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    <% tutors.forEach(tutor => { %>
                        <tr>
                            <td><%=tutor.userId %></td>
                            <td><%=tutor.fname %> <%=tutor.lname %></td>
                            <td class="flaggedUser">
                                <form action="/removeTutor?userId=<%= tutor.userId %>" method="POST">
                                    <button class="flagUser">
                                        Remove Tutor</button>
                                </form>
                                <a href="/tutorPage?userId=<%= tutor.userId %>">
                                    <button class="flagUser">View Profile</button>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <%} %> 
        </div>
        <h1>Reviews</h1>
        <div class="allUserList">
            <% if (!reviews || reviews.length===0) { %>
                <p>There are no reviews.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>ReviewId</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th>Recommended</th>
                        <th>Actions</th>
                    </tr>
                    <% reviews.forEach(review => { %>
                        <tr>
                            <td><%=review.reviewId %></td>
                            <td><%=review.title %></td>
                            <td><%=review.description %></td>
                            <td><%=review.rating %></td>
                            <td><%=review.recommended %></td>
                            <td class="flaggedUser">
                                <form action="/addTutor?userId=<%= review.revieweeId %>" method="POST">
                                    <button class="flagUser">
                                        Add Tutor</button>
                                </form>
                                <a href="/tutorPage?userId=<%= review.revieweeId %>">
                                    <button class="flagUser">View Profile</button>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <% } %>
        </div>
    </div>

</body>


</html>