<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/modUsers.css">
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <ul class="DMs">
        <h2>Messages</h2>
        <li class="notifications">
            <img src="/images/blank-pf.png" alt="profile-pic">
            <a href="#">UserName</a>
            <p> # of new notifications</p>

        </li>
        <li class="notifications">
            <img src="/images/blank-pf.png" alt="profile-pic">
            <a href="#">UserName</a>
            <p> # of new notifications</p>

        </li>
        <li class="notifications">
            <img src="/images/blank-pf.png" alt="profile-pic">
            <a href="#">UserName</a>
            <p> # of new notifications</p>

        </li>
    </ul>
    <div class="pageContent">
        <div class="userName">
            <h1> <%=user.fname%> <%=user.lname %></h1>
            <% if (user.flagged == 1){ %>
                <form action="/unflagUser?userId=<%= user.userId %>" method="POST">
                    <button class="flagUser">
                        Unflag</button>
                </form>
            <% } else { %>
                <form action="/modFlag?userId=<%= user.userId %>" method="POST">
                    <button class="flagUser">
                        Flag</button>
                </form>
            <% } %>
        </div>
        
        <h1>Posts</h1>
        <div class="flaggedUserList">
            <% if (!userPosts || userPosts.length===0) { %>
                <div class="flaggedUser">
                    <p>There are no posts.</p>
                </div>
            <% } else { %>
                <% userPosts.forEach(post => { %>
                    <div class="flaggedUser">
                        <p>Title= <%=post.title %></p>
                        <p>Description= <%=post.description %> </p>
                    </div>
                    
                <% }) %>
            <% } %>
        </div>
        <h1>Replies</h1>
        <div class="flaggedUserList">
            <% if (!userReplies || userReplies.length===0) { %>
                <div class="flaggedUser">
                    <p>There are no replies.</p>
                </div>
            <% } else { %>
                <% userReplies.forEach(reply => { %>
                    <div class="flaggedUser">
                        <p>Description= <%=reply.description %></p>
                        <p>replyTime= <%=reply.replyTime %> </p>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>

</body>


</html>