<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/modUsers.css">
    <link rel="stylesheet" href="/public/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <div class="modPageContent">
        <h1>Flagged Users</h1>
        <div class="flaggedUserList">
            <% if (!flaggedUsers || flaggedUsers.length===0) { %>
                <p>There are no flagged users.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    <% flaggedUsers.forEach(flaggedUser => { %>
                        <tr>
                            <td><%=flaggedUser.userId %></td>
                            <td><%=flaggedUser.fname %> <%=flaggedUser.lname %></td>
                            <td><%=flaggedUser.role %></td>
                            <td class="flaggedUser">
                                <form action="/unflagUser?userId=<%= flaggedUser.userId %>" method="POST">
                                    <button class="flagUser">
                                        Unflag</button>
                                </form>
                                <form action="/banUser?userId=<%= flaggedUser.userId %>" method="POST">
                                    <button class="flagUser">
                                        Ban</button>
                                </form>
                                <a href="/modUserPage?userId=<%= flaggedUser.userId %>">
                                    <button class="flagUser">View Profile</button>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            <%} %> 
        </div>
        <h1>All Users</h1>
        <div class="allUserList">
            <% if (!allUsers || allUsers.length===0) { %>
                <p>There are no users.</p>
            <% } else { %>
                <table>
                    <tr>
                        <th>UserId</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    <% allUsers.forEach(user => { %>
                        <tr>
                            <td><%=user.userId %></td>
                            <td><%=user.fname %> <%=user.lname %></td>    
                            <td><%=user.role %></td> 
                            <td class="flaggedUser">
                                <form action="/modFlag?userId=<%= user.userId %>" method="POST">
                                    <button class="flagUser">
                                        Flag</button>
                                </form>
                                <a href="/modUserPage?userId=<%= user.userId %>">
                                    <button class="flagUser">View Profile</button>
                                </a>
                            </td>  
                        </tr>
                    <% }) %>
                </table>
            <% } %>
        </div>
    </div>

</body>


</html>